body{
    margin: 0;
}
header{
    display:flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
    background-color: grey;
    position:absolute;
}
.logo{

}
.tool_bar{
    display:flex;

}
.search{

}
.save{

}
.bell{

}
button{
   
    margin-top: 20px;
    height: 30px;

}
.name_circle span{

    height:20px;
    width: 20px;
    color:white;
    background-color:blue;

}
main{
 display: flex;
  flex-direction: row;
   
    display: flex;
  
    
 
}
.stories{
 
    background-color: bisque;
    width: 65vw;
    height: 100vh;
   
}


.resources{

  background-color:aquamarine;
  width: 35vw;
  height: 100vh;
  
}


