body{
    margin: 0;
}
header{
    display:flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
    background-color: grey;
    position:absolute;
}
.logo{

}
.tool_bar{
    display:flex;

}
.search{

}
.save{

}
.bell{

}
button{
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
    margin-top: 20px;
    height: 30px;
    background-color: white;

}
.name_circle span{
    margin-left: 200px;
    padding: 10px;
   
    color:white;
    background-color:blue;
    border-radius: 50px;

}
main{
 display: flex;
  flex-direction: row;
   
    display: flex;
  
    
 
}
.stories{
 
    background-color: bisque;
    width: 65vw;
    height: 100vh;
   
}


.resources{

  background-color:aquamarine;
  width: 35vw;
  height: 100vh;
  
}


