body{
    margin: 0;
}
header{
    display:flex;
    height: 10vh;
    width: 100vw;
    background-color: grey;
}
.logo{

}
.tool_bar{

}
.search{

}
.save{

}
.bell{

}
button{

}
.circle_name{

    
}
main{
 display: flex;
  flex-direction: row;
   
    display: flex;
  
    
 
}
.stories{
 
    background-color: bisque;
    width: 65vw;
    height: 100vh;
   
}


.resources{

  background-color:aquamarine;
  width: 35vw;
  height: 100vh;
  
}


